{% extends "base.html" %}

{% block links %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'blog/css/about.css' %}">
{% endblock %}

{% block container %}

<header class="pageheader">
    <h2 class="blog_head">个人简介</h2>
</header>

<div class="article_content">
    <div style="width:38%; float: left; margin: 20px auto;">
        <img src="/static/blog/img/profile.jpg" style="border-radius:50%;width:100px">
        <p style="text-align: center;font-size:16px; margin-top:5px;">{{ author.user.last_name }}{{ author.user.first_name }}</p>
    </div>
    <div style="width: 60%; float: left; ">
        <p class="self_evaluation">
            {{ author.about|safe }}
        </p>
        <ul>
            <li><span style="font-weight: bold;">QQ: </span>{{ author.qq }}</li>
            <li><span style="font-weight: bold;">头条号: </span>{{ author.toutiao }}</li>
            <li><span style="font-weight: bold;">github: </span><a target="_new" href="{{ author.github }}">{{ author.github }}</a></li>
        </ul>
    </div>
    <div style="clear:both;"></div>
</div>

<div class="skill_tree">
    <h2 class="skill_tree_header">我的技能树</h2> 

    <section class="tech">
        {% for tech in my_tech %}
        <div class="item">
            <div class="describe">
                {{ tech.name }}
            </div>
            <div class="progress">
                <span class="green" style="width: {{ tech.proficiency }}0%;">{{ tech.proficiency }}0%</span>
            </div>
            <div class="like">
                <a href="#" onclick="likeTech(this, {{ tech.id }})">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    <span class="number">{{ tech.nice_count }}</span>
                </a>
            </div>
        </div>
        {% endfor %}
    </section>
</div>

<div class="comment_tree">
    <h2 class="comment_tree_header">给我留言</h2>

    <div class="editor-container">
        <table style="width:100%;">
            <tr>
                <td class="required">姓名</td>
                <td>
                    <input type="text" id="user_name_0" name="user_name" value="{{ user_name }}">
                    <div style="display:none; color:red;" id="user_name_error_0">请填写姓名</div>
                </td>
            </tr>
            <tr>
                <td class="required">邮箱</td>
                <td>
                    <input type="text" id="user_email_0" name="user_email" value="{{ user_email }}" type="email">
                    <div style="display:none; color:red;" id="user_email_error_0">请填写邮箱</div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="comment_editor_0" class="comment-editor" contenteditable="true">
                        {{ comment_editor|safe }}
                    </div>
                    <div style="display:none; color:red;" id="comment_editor_error_0">请填写留言</div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="javascript:void(0)" class="ui-btn ui-btn-inline ui-corner-all" onclick="comment(this, 0)">
                        <span>回 复</span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <ul class="comments">
        {% for comment in comments %}
            <li class="clearfix">
                <div class="comments-text-wrap">
                    <div class="user-img"><img src="/static/blog/img/mprofile.jpg" width="50" height="50"></div>
                    <div class="comments-text-box">
                        <h3 class="comment-author">{{ comment.user_name }}</h3>
                        <div class="comment-body">{{ comment.body|safe }}</div>
                        <p class="info">{{ comment.created_time }} &nbsp;&nbsp;
                            <a href="javascript:void(0)" onclick="reply(this, {{ comment.id }})">
                                <span>回 复</span>
                            </a>
                        </p>
                    </div>
                    <div id="child_comments_{{ comment.id }}" class="child-comments">
                        {% for child in comment.children %}
                        <div class="child-comment">
                            <span class="child-name">{{ child.user_name }}:</span>
                            <span class="child-comment">{{ child.body|striptags }}</span>
                            <span class="child-date">{{ child.created_time }}</span>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="editor-container hidden" id="reply-{{ comment.id }}">
                        <table style="width:80%;">
                            <tr>
                                <td class="required">姓名</td>
                                <td>
                                    <input type="text" id="user_name_{{ comment.id }}" name="user_name" value="{{ user_name }}">
                                    <div style="display:none; color:red;" id="user_name_error_{{ comment.id }}">请填写姓名</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="required">邮箱</td>
                                <td>
                                    <input type="text" id="user_email_{{ comment.id }}" name="user_email" value="{{ user_email }}" type="email">
                                    <div style="display:none; color:red;" id="user_email_error_{{ comment.id }}">请填写邮箱</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div id="comment_editor_{{ comment.id }}" class="comment-editor" contenteditable="true">
                                        {{ comment_editor|safe }}
                                    </div>
                                    <div style="display:none; color:red;" id="comment_editor_error_{{ comment.id }}">请填写留言</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <a href="javascript:void(0)" onclick="comment(this, {{ comment.id }})">
                                        <span>回 复</span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
    
<script type="text/javascript">
    function likeTech(obj, id){
        $.ajax({
            type:"POST",
            data: { csrfmiddlewaretoken:"{{ csrf_token }}" },
            url: "/blog/liketech/" + id + "/", 
            cache: false,
            dataType: "json",
            success: function(data){
                $(obj).children(".number").html(data);
            },
            error: function(data){
                window.alert("支持作者失败");
            }
        });
    }
</script>

<script type="text/javascript">
    function reply(obj, id){
        if($("#reply-"+id).hasClass("hidden")){
            $("#reply-"+id).removeClass("hidden")
            $(obj).children("span").text("隐 藏")
        }else{
            $("#reply-"+id).addClass("hidden")
            $(obj).children("span").text("回 复")
        }
    }

    function comment(obj, id){
        var user_name = $("#user_name_"+id).val().trim()
        if(user_name.length === 0){
            $("#user_name_error_"+id).show()
            setTimeout(function(){
                $("#user_name_error_"+id).hide("slow");
            },1000);
            return false;
        }
        
        var user_email = $("#user_email_"+id).val().trim()
        if(user_email.length === 0){
            $("#user_email_error_"+id).show()
            setTimeout(function(){
                $("#user_email_error_"+id).hide("slow");
            },1000);
            return false;
        }

        var comment = $("#comment_editor_"+id).html().trim()
        if(comment.length == 0){
            $("#comment_editor_error_"+id).show()
            setTimeout(function(){
                $("#comment_editor_error_"+id).hide("slow");
            },1000);
            return false;
        }

        $.ajax({
            type:"POST",
            data: { 
                csrfmiddlewaretoken:"{{ csrf_token }}",
                "user_name": user_name,
                "user_email": user_email,
                "comment": comment
            },
            url: "/blog/accountcomment/"+id+"/", 
            cache: false,
            dataType: "json",
            success: function(data){
                $("#reply-"+id).addClass("hidden")
                if (id != 0){
                    //回复其它人的信息
                    var reply = $("#child_comments_" + id)
                    reply.prepend('<div><span class="child-name">'+user_name+':</span> \
                        <span class="child-comment">'+comment+'</span> \
                        <span class="child-date">' + (new Date()).toLocaleString() + '</span></div>')
                }else{
                    //直接回复
                    $(".comments").prepend("<li class=\"clearfix\"></li>")
                    $(".comments li:first").prepend("<div class=\"comments-text-wrap\"></div>")
                    
                    var text = "<div class=\"user-img\"><img src=\"/static/blog/img/mprofile.jpg\" width=\"50\" height=\"50\"></div>"
                    $(".comments li:first .comments-text-wrap").prepend(text)

                    text = '<div class="comments-text-box"></div><div id="child_comments_'+data+'" class="child-comments">'
                    $(".comments li:first .comments-text-wrap").append(text)

                    text = '<h3 class="comment-author">' + user_name + '</h3>'
                    $(".comments li:first .comments-text-wrap .comments-text-box").append(text)
                    text = '<div class="comment-body">' + comment + '</div>'
                    $(".comments li:first .comments-text-wrap .comments-text-box").append(text)
                    text = '<p class="info">' + (new Date()).toLocaleString() + '</p>'
                    $(".comments li:first .comments-text-wrap .comments-text-box").append(text)
                }
            },
            error: function(data){
                window.alert("支持作者失败" + data.error);
            }
        });
    }
</script>
{% endblock %}
