{% extends "base.html" %}

{% block links %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'blog/css/article.css' %}">
    <script src="{% static 'lib/js/jquery-3.3.1.min.js' %}"></script>
{% endblock %}

{% block container %}
<script type="text/javascript">
    function comment(){
        if($("#user_name").val().trim().length === 0){
            $("#user_name_error").show()
            setTimeout(function(){
                $("#user_name_error").hide("slow");
            },1000);
            return false;
        }

        if($("#user_email").val().trim().length === 0){
            $("#user_email_error").show()
            setTimeout(function(){
                $("#user_email_error").hide("slow");
            },1000);
            return false;
        }

        $("#comment_editor_hidden").val("")
        var comment = $("#comment_editor").html().trim()
        if(comment.length > 0){
            $("#comment_editor_hidden").val(comment)
            $("#comment_form").submit()
            return true;
        }else{
            $("#comment_editor_error").show()
            setTimeout(function(){
                $("#comment_editor_error").hide("slow");
            },1000);
            return false;
        }
    }
</script>

<div class="main-content-box">
    <h1 class="title">{{ article.title }}</h1>
    
    <div class="detail-info-box">
        <ul>
            <li>
                编辑时间：
                <span class="modify-time">{{ article.last_modified_time|date:"Y-n-j" }}</span>
            </li>
            <li>
                浏览量:
                <span class="views">{{ article.views }}</span>
            </li>
            <li>
                喜欢:
                <a href="#" onclick="like(this, {{ article.id }})">
                    <span class="likes">{{ article.likes }}</span>
                </a>
            </li>
        </ul>
     </div>

    <div class="blog-content">
        {{ article.body|safe }}
    </div>

    <div class="comment-container">
        <ul class="type-lists">
            <li class="comment-title">评论</li>
            <li class="comment-line"></li>
        </ul>
        <div class="editor-container">
            <form id="comment_form" action="{% url 'blog:addcomment' article.id %}" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <td class="required">姓名</td>
                        <td>
                            <input type="text" id="user_name" name="user_name" value="{{ user_name }}">
                            <div style="display:none; color:red;" id="user_name_error">请填写姓名</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="required">邮箱</td>
                        <td>
                            <input type="text" id="user_email" name="user_email" value="{{ user_email }}">
                            <div style="display:none; color:red;" id="user_email_error">请填写邮箱</div>
                        </td>
                    </tr>
                </table>
                <div>
                    <div class="edui-toolbar ">

                    </div>
                </div>
                <div id="comment_editor" class="comment-editor" contenteditable="true">
                    {{ comment_editor|safe }}
                </div>
                <div style="display:none; color:red;" id="comment_editor_error">请填写留言</div>
                <div class="buttons">
                    <a href="javascript:void(0)" id="comment_submit" class="ui-btn ui-btn-inline ui-corner-all" title="发表" onclick="return comment()"><span>发 表</span></a>
                </div>
                <input type="hidden" id="comment_editor_hidden" name="comment_editor_hidden" required>
            </form>
        </div>
        <ul class="comments">
            {% for comment in comments %}
                <li class="clearfix">
                    <div class="comments-text-wrap">
                        <div class="user-img"><img src="/static/blog/img/profile.jpg" width="50" height="50"></div>
                        <div class="comments-text-box">
                            <h4 class="comment-author">{{ comment.user_name }}</h4>
                            <div class="comment-body">{{ comment.body|safe }}</div>
                            <p class="info">{{ comment.created_time }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script type="text/javascript">
    function like(obj, id){
        $.ajax({
            type:"POST",
            data: { csrfmiddlewaretoken:"{{ csrf_token }}" },
            url: "/blog/likearticle/" + id + "/", 
            cache: false,
            dataType: "json",
            success: function(data){
                $(obj).children(".likes").html(data);
            },
            error: function(data){
                window.alert("文章点赞失败");
            }
        });
    }
</script>

{% endblock %}