<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/footer.css' %}">
    {% block links %}{% endblock %}
</head>

<body>
    <div id="globalMessage" class="alert alert-warning" style="display: none; z-index: 9999; top:10px;">
        <a href="#" class="close" onclick="closeGlobalMessage()">
            &times;
        </a>
        <strong>警告！</strong><span id="message" />
    </div>
    <div id="header" class="header center">
        <h1>{{ config.website_title }}</h1>
        <nav class="topnav">
            <ul>
                <li class=""><a href="{% url 'blog:index' %}" style="opacity: 0.4;">首页</a></li>
                {% for category in category_list %}
                <li class="">
                    <a href="{% url 'blog:category' category.id 0 %}" style="opacity: 0.4;">{{ category.name }}</a>
                </li>
                {% endfor %}
                <li class=""><a href="{% url 'blog:about' %}" style="opacity: 0.4;">介绍</a></li>
            </ul>
        </nav>
    </div>
    <div id="container" class="container center">
        <div>
            {% block container %}
            {% endblock %}
            {% block sideblock %}{% endblock %}
        </div>
    </div>
    <div id="footer" class="footer center">
        <ul>
            <li>
                <p>Copyright：{{ config.copyright }}</p>
                
            </li>
            <li>
                <p>地址：{{ config.address }}</p>
                
            </li>
            <li>
                <p>备案号：<a target="_blank" href="http://www.miitbeian.gov.cn/" rel="nofollow">{{ config.icp }}</a></p>
            </li>
        </ul>
    </div>

    <script>
        "use strict";
        
        (function () {
        
            var target = document.querySelector(".navtarget");
            var links = document.querySelectorAll(".topnav a");
            var color = "orange";
        
            function mouseenterFunc() {
                if (!this.parentNode.classList.contains("active")) {
                        for (var i = 0; i < links.length; i++) {
                            if (links[i].parentNode.classList.contains("active")) {
                                links[i].parentNode.classList.remove("active");
                            }
                            links[i].style.opacity = "0.4";
                        }
            
                    this.parentNode.classList.add("active");
                    this.style.opacity = "1";
                }
            }
        
            for (var i = 0; i < links.length; i++) {
                /*
                links[i].addEventListener("click", function (e) {
                    //return e.preventDefault();
                });
                */
                links[i].addEventListener("mouseenter", mouseenterFunc);
            }
        })();</script>            
</body>
</html>
