<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <!-- meta使用viewport以确保页面可自由缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ config.website_title }}</title>
    <link rel="shortcut icon" href="{% static 'blog/img/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/footer.css' %}">

    <!-- 引入 jQuery Mobile 样式 -->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    {% block links %}{% endblock %}
</head>

<body>
    <div id="header" class="header">
        <h1>{{ config.website_title }}</h1>
        <nav class="topnav">
            <ul>
                <li id="category__1" class=""><a href="{% url 'blog:index' %}" style="opacity: 0.4;">首页</a></li>
                {% for category in category_list %}
                <li id="category_{{ category.id }}" class="">
                    <a href="{% url 'blog:category' category.id 1 %}" style="opacity: 0.4;">{{ category.name }}</a>
                </li>
                {% endfor %}
                <li id="category_999" class=""><a href="{% url 'blog:about' %}" style="opacity: 0.4;">介绍</a></li>
            </ul>
        </nav>
    </div>
    <div id="container" class="container">
        <div>
            {% block container %}
            {% endblock %}
            {% block sideblock %}{% endblock %}
        </div>
    </div>
    <div id="footer" class="footer">
        <ul>
            <li>
                <p>Copyright：{{ config.copyright }}</p>
            </li>
            <li>
                <p>地址：{{ config.address }}</p>
            </li>
            <li>
                <p>备案号：<a target="_blank" href="http://www.miitbeian.gov.cn/" rel="nofollow">{{ config.icp }}</a></p>
            </li>
        </ul>
    </div>

    <script>
        "use strict";
        
        (function () {
            var target = document.querySelector(".navtarget");
            var links = document.querySelectorAll(".topnav a");
            var color = "orange";
            function mouseenterFunc() {
                for (var i = 0; i < links.length; i++) {
                    if (links[i].parentNode.classList.contains("active")) {
                        links[i].parentNode.classList.remove("active");
                    }
                    links[i].style.opacity = "0.4";
                }
    
                this.parentNode.classList.add("active");
                this.style.opacity = "1";
            }
            
            function clickLinkIndex(){
                window.localStorage.setItem("active_link_index", this.parentNode.id);
                setActiveLink();
            }

            function setActiveLink(){
                
                for (var i = 0; i < links.length; i++) {
                    if (links[i].parentNode.classList.contains("active")) {
                        links[i].parentNode.classList.remove("active");
                    }
                    links[i].style.opacity = "0.4";
                }
                
                if(!window.localStorage["active_link_index"]){
                    window.localStorage.setItem("active_link_index", "category__1");
                }

                if(window.localStorage["active_link_index"] != "category_{{ active_category }}"){
                    window.localStorage.setItem("active_link_index", "category_{{ active_category }}");
                }

                var current_link = document.getElementById(window.localStorage["active_link_index"]);
                current_link.className = "active";
                current_link.style.opacity = "1";
            }

            for (var i = 0; i < links.length; i++) {
                links[i].addEventListener("mouseenter", mouseenterFunc);
                links[i].addEventListener("mouseleave", setActiveLink);
                links[i].addEventListener("click", clickLinkIndex);
            }

            setActiveLink();
        })();
        (function () {
            var footer_container = document.querySelector("#footer");
            var footer = document.querySelector("#footer > ul");

            function mouseenterFunc(){
                footer.style.display = "flex";
            }
            footer_container.addEventListener("mouseenter", mouseenterFunc);

            function mouseleaveFunc(){
                footer.style.display = "none";
            }
            footer.addEventListener("mouseleave", mouseleaveFunc);
        })();
    </script>
    
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</body>
</html>
