{% extends "base.html" %}


{% block links %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'blog/css/article_list.css' %}">
{% endblock %}

{% block container %}
<div class="newblogs">
    <ul>
    {% for article in articles %}
        <li>
            <div class="bloginfo">
                <div class="blogleft">
                    <h4 class="blogtitle">
                        <a href="{% url 'blog:article' article.id %}" target="_blank">{{ article.title }}</a>
                    </h4>
                    <div>{{ article.body|truncatechars:100|striptags }}</div>
                </div>
            </div>
            <div class="blogpic">
                <a href="{% url 'blog:article' article.id %}" title="{{ article.title }}">
                    <img src="/media/{{ article.news_img }}" alt="{{ article.title }}" width="width: 40%; max-height: " />
                </a>
            </div>
            <div class="autor">
               <span class="dtime f_l">{{ article.created_time|date:"Y-n-j" }}</span>
               <span class="viewnum f_l">浏览（{{ article.views }}）</span>
               <span class="pingl f_l">喜欢（{{ article.likes }}）</span>
               <span class="f_r"><a href="{% url 'blog:article' article.id %}" class="more">阅读原文&gt;&gt;</a></span>
            </div>
        </li>
    {% endfor %}
    </ul>
    <div class="pagination">
        <ul class="pager">
            {% if articles.has_previous %}
                <li><a href="{% url 'blog:category' category 1 %}">首页</a></li> 
                <li class="previous"><a href="{% url 'blog:category' category articles.previous_page_number %}">上一页</a></li>
            {% else %}
                <li class="disabled"><a href="javascript:void(0)" disabled="disabled">首页</a></li>
                <li class="previous disabled"><a href="javascript:void(0)" disabled="disabled">上一页</a></li>
            {% endif %}

            {% if articles.has_previous %}
                <li><a href="{% url 'blog:category' category articles.previous_page_number %}">{{articles.previous_page_number}}</a></li>
            {% endif %}
                <li><a href="{% url 'blog:category' category articles.number %}">{{articles.number}}</a></li>
            {% if articles.has_next %}
                <li><a href="{% url 'blog:category' category articles.next_page_number %}">{{articles.next_page_number}}</a></li>
            {% endif %}

            {% if articles.has_next %}
                <li class="next"><a href="{% url 'blog:category' category articles.next_page_number %}">下一页</a></li>
                <li><a href="{% url 'blog:category' category articles.paginator.num_pages %}">尾页</a></li>
            {% else %}
                <li class="next disabled"><a href="javascript:void(0)" disabled="disabled">下一页</a></li>
                <li class="disabled"><a href="javascript:void(0)" disabled="disabled">尾页 </a></li>
            {% endif %}
        </ul>
</div>
{% endblock %}