.main-content-box{padding:10px;background-color:#fffcfc;transition:all 1s;overflow:hidden}

/* 头部 */
.main-content-box h1.title{font-size:20px;font-weight:500;color:#0088db;text-align:center;padding:5px 0}

.main-content-box .detail-info-box{text-align: center; height:30px;color:#ac5a24;line-height:30px;border:1px dashed #999;border-left:0;border-right:0;overflow:hidden}
.main-content-box .detail-info-box ul{width:100%; list-style: none;}
.main-content-box .detail-info-box ul li{float: left; margin-right: 40px;}
.main-content-box .detail-info-box ul li::after{clear: both;}
.modify-time:before {content:url(../img/icon/date.png)}
.views:before {content:url(../img/icon/view.png)}
.likes:before {content:url(../img/icon/like.jpg)}

/* 主体 */
.main-content-box .blog-content{color:#1a1919;line-height:28px;font-size:16px;padding:10px 0}

/*注释部分*/
.comment-container .type-lists {
    line-height: 30px;
    height: 30px;
    position: relative;
    margin-top: 50px;
    padding: 0px;
    overflow: hidden;
}

.comment-container .type-lists .comment-line {
    margin-left: 66px;
    height: 29px;
    width: 100%;
    border-bottom: #0088db 1px solid;
}

.comment-container .type-lists .comment-title {
    float: left;
    margin-left: 0px;
    width: 66px;
    text-align: center;
    color: #4398ed;
    background: url(../img/border.png) no-repeat;
}

.comment-container form .required:after{
    content: '*'; 
    color: #f00;
}
/* 回复列表 */
.comment-container .comments{
    padding-left:0px;
    font-size: 14px;
}

.comment-container .comments li{
    list-style: none;
    margin-bottom: 10px;
    padding-left: 0px;
    display: block;
}
.comment-container .comments li.clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both; }

.comment-container .comments .comments-text-wrap {
    border-top: 1px solid #ccc;
}

.comment-container .comments li .user-img {
    margin: 5px 10px auto 0px;
    padding: 0px;
    float: left;
    border-radius: 4px;
}

.comment-container .comments .comments-text-box {
    display: block;
    width: 100%;
}

.comment-container .comments .comments-text-box .comment-author {
    color: #d32;
    margin: 2px;
}

.comment-container .comments .comments-text-box .comment-body {
    float: left;
}

.comment-container .comments .comments-text-box .info {
    color: gray;
    float: right;
}

.comment-container .comment-editor {
    border:  #4398ed solid thin;
    min-height: 10rem;
}