/*-------------------------
	The .footer
--------------------------*/

.footer{
	max-height: 40px;
	font-size:12px;
	position: fixed;
	margin-top: 2px;
	bottom: 5px;
	background-color:#d1e1f5;
	color:#ccc;
	display: flex;
	left: 50%;
	margin-left: -585px;
	justify-content: space-around;
	z-index: 999;
}


@media (min-width: 450px) {
    .footer{
        width:1170px;
    }
}

/* Set a width to the outermost UL and center it */

.footer > ul{
	width: 100%;
	padding: 0;
	display: none;
	justify-content: space-around;
	z-index: 999;
}

/* The four columns of links */

.footer > ul > li{
    width:220px;
}

/* Common styles for the four color bars */

.footer > ul > li > p {
	width: 100%;
	padding: 10px;
	line-height: 18px;
	background-color: #058cc7;
	font-weight: bold;
	font-size: larger;
	color:#fff;
	text-transform: uppercase;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	opacity:0.9;
	cursor:default;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.footer > ul > li > p > a {
	color: white;
}
