/*header区域*/

.header {
    background-color:#d1e1f5;
    color:#ccc;
    margin: 0 auto auto auto;
}

@media (min-width: 450px) {
    .header{
        width:1170px;
    }
}

.header h1 {
    text-align: center;
    padding-top: 10px;
    margin: 5px 0;
    color: black;
}

.header .topnav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.header .topnav li{
    border-bottom: 4px solid;
}

.header .topnav li:not(:last-child) {
    margin-right: 20px;
}
  
.header .topnav a {
    display: block;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 7px 15px;
}

.header .topnav .active {
    border-bottom: 4px solid transparent;
    border-bottom-color: orange;

    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}