@charset "utf-8";
/* CSS Document */

.clear {
	clear: both;
	overflow: hidden;
}

.noallowed{ background:#EEEEEE;color:#CCCCCC;}

@media screen and (min-width: 1152px){
	.wap-botpic{ display:none;}
	.mianbox{ width:100%; height:100%;}
	.pcheader,.pcbottom{ height:70px; width:100%; background:#FFF;}
	.center{width:100%; background:#F3F5F8; position:relative;}
	.pcheaderin{ height:70px; width:1152px; margin:auto; overflow:hidden;}
	.pcheaderin a{ display:block; width:262px; height:28px; margin-top:21px;}
	.pc-centerbox{ width:1091px; height:512px; position:absolute; left:0px; right:0px; top:0px; bottom:0px; margin:auto;}
	.pc-cenboxleft{ width:647px; height:484px; float:left; margin-top:39px;}
	.loginbox{ width:328px; height:512px; float:right; overflow:hidden; background:#FFF;}
	.pcbottom{ padding-top:20px; height:50px;}
	.pcbottom p{text-align: center;  font-size: 12px; height: 14px; margin-bottom: 5px; line-height: 14px; font-size: 12px; color: #666;}
	.pcbottom p a{color: #666;margin-right: 16px;}
	.pcbottom p a:hover{color:#4DA6FF;}
	.userphoto{ width:88px; height:88px; overflow:hidden; background:#FAFAFA; border-radius:100%; -webkit-border-radius:100%; -moz-border-radius:100%; -ms-border-radius:100%; -o-border-radius:100%; margin:auto; margin-top:40px;}
	.userphoto img{ display:block; width:80px; height:80px; margin:auto; margin-top:4px; border-radius:100%; -webkit-border-radius:100%; -moz-border-radius:100%; -ms-border-radius:100%; -o-border-radius:100%;}
	.needtext{ width:280px; margin:auto; margin-top:30px; position:relative;}
	.input-id{ width:100%; border-bottom:1px solid #CCCCCC; padding-bottom:2px; margin-bottom:5px; position:relative;}
	.input-id span{ display:block; float:left; width:14px; height:30px; background:url(../img/icon/loginreallbg.svg) -73px -10px no-repeat;}
	.input-id input{ display:block; list-style:none; padding:4px;color:#333; font-size:14px; float:left; border:0px; height:24px; line-height:14px; width:222px; margin-left:10px;}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: #CCCCCC;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: #CCCCCC;
	}
	input:-ms-input-placeholder,
	textarea:-ms-input-placeholder {
		color: #CCCCCC;
	}
	input::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
		color: #CCCCCC;
	}
	.input-pas{width:100%; border-bottom:1px solid #CCCCCC; padding-bottom:7px; margin-bottom:10px; position:relative;}
	.input-pas span{ display:block; float:left; width:18px; height:20px; background:url(../img/icon/loginreallbg.svg) -71px -70px no-repeat;}
	.input-pas input{ display:block; list-style:none; padding:4px;color:#333; font-size:14px; float:left; border:0px; height:24px; line-height:14px; width:222px; margin-left:10px;}
	.helpbtn{ height:14px; width:280px; font-size:12px;}
	.remeberme{ display:inline-block; height:14px; float:left; position:relative;}
	.remeberme input{ width:12px; height:12px; border:1px solid #CCCCCC; background:#FFF; float:left; display:block; cursor:pointer;}
	.alowedme{ float:left; display:inline-block; height:12px; line-height:12px; margin-left:5px; color:#222;}
	.clickspan{ display:block; width:8px; height:8px; position:absolute; background:#3B97F6; top:2px; left:2px; cursor:pointer;}
	.clickspan{ display:none;}
	.forgetpas{ display:inline-block; float:right; height:14px; font-size:12px; color:#3B97F6; line-height:14px; }
	.helpbtn a:link, .helpbtn a:visited, .helpbtn a:focus{text-decoration:underline;}
	.tjbtn-login{ width:280px; height:36px; line-height:36px; color:#FFF; font-size:16px; text-align:center; background:#3B97F6; border:0px; cursor:pointer; margin-top:20px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px;-webkit-transition: all 0.2s ease-in;transition: all 0.2s ease-in;-moz-transition: all 0.2s ease-in;-ms-transition: all 0.2s ease-in;-o-transition: all 0.2s ease-in;}
	.tjbtn-login:hover{ background:#0B76E1;}
	.wxtipsuser{ height:12px; line-height:12px; font-size:12px; width:100%; text-align:center; color:#444444; margin-top:35px;}
	.wxtipsuser a{color:#85BD27;}
	.wxtipsuser a:hover{color:#6C9922;}
	.otherslogin{ width:228px; height:36px; margin:auto; margin-top:35px;}
	.otherslogin a{ display:block; height:36px; width:36px; float:left; margin:0px 20px;-webkit-transition: all 0.2s ease-in;transition: all 0.2s ease-in;	-moz-transition: all 0.2s ease-in;-ms-transition: all 0.2s ease-in;-o-transition: all 0.2s ease-in;}
	.qqlogin{ background:url(../img/icon/loginreallbg.svg) -10px -220px no-repeat;}
	.qqlogin:hover{background:url(../img/icon/loginreallbg.svg) -10px -266px no-repeat;}
	.wxlogin{ background:url(../img/icon/loginreallbg.svg) -56px -220px no-repeat;}
	.wxlogin:hover{background:url(../img/icon/loginreallbg.svg) -56px -266px no-repeat;}
	.xllogin{ background:url(../img/icon/loginreallbg.svg) -102px -220px no-repeat;}
	.xllogin:hover{background:url(../img/icon/loginreallbg.svg) -102px -266px no-repeat;}
	.tipsboxalert{ width:240px; position:absolute; left:20px; top:18px; z-index:100;}
	.tipsboxalert em{display: block;width: 16px;height: 10px;background: url(../img/icon/loginreallbg.svg) -73px -194px no-repeat;margin-left: 15px;}
	.tipsboxalert p{ width:90%; border-radius:3px; background:#FF5E5E; background:rgba(255,38,38,0.8); padding:2% 5%; color:#FFF; font-size:12px; line-height:160%;}
	.tipsboxalert p a{color:#FFDC72;}
}

@media screen and (max-width: 1152px){
	.mianbox{ width:100%;}
	.center{ width:100%;overflow-x: hidden;}
	.pcheader,.pcbottom,.pc-cenboxleft{ display:none;}
	.pc-centerbox{ width:100%; height:auto;}
	.loginbox{ width:100%; min-height:100%; background:#F3F5F8; overflow:hidden;}
	.userphoto{width: 80px;height: 80px;overflow: hidden;border-radius: 100%;-webkit-border-radius: 100%;-moz-border-radius: 100%;-ms-border-radius: 100%;-o-border-radius: 100%;margin: auto; margin-top: 15%;border: 4px solid rgba(0,0,0,0.1);}
	.userphoto img{ display:block; width:80px; height:80px; margin:auto;  border-radius:100%; -webkit-border-radius:100%; -moz-border-radius:100%; -ms-border-radius:100%; -o-border-radius:100%;}
	.needtext{ width:80%; margin:auto; margin-top:10%; position:relative;}
	.input-id{ width:100%; border-bottom:1px solid #E3E3E3; padding-bottom:4%; margin-bottom:4%; position:relative;}
	.input-id span{ display:block; float:left; width:14px; height:20px; background:url(../img/icon/loginreallbg.svg) -13px -10px no-repeat;}
	.input-id input{ display: block;
    list-style: none;
    color: #333;
    font-size: 1.1em;
    float: left;
    border: 0px;
    height: 20px;
    line-height: 20px;
    width: 80%;
    margin-left: 10px;
    background:transparent}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: #666;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: #666;
	}
	input:-ms-input-placeholder,
	textarea:-ms-input-placeholder {
		color: #666;
	}
	input::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
		color: #666;
	}
	.input-pas{width:100%; border-bottom:1px solid #E3E3E3; padding-bottom:4%; margin-bottom:4%; position:relative;}
	.input-pas span{ display:block; float:left; width:18px; height:20px; background:url(../img/icon/loginreallbg.svg) -11px -70px no-repeat;}
	.input-pas input{ display: block;
    list-style: none;
    color: #333;
    font-size: 1.1em;
    float: left;
    border: 0px;
    height: 20px;
    line-height: 20px;
    width: 80%;
    margin-left: 10px;
    background:transparent;}
	.helpbtn{ height:14px; width:100%; font-size:0.8em;}
	.remeberme{ display:inline-block; height:14px; float:left; position:relative;}
	.remeberme input{     width: 14px;
    height: 14px;
    border: 1px solid #D0D1D5;
    float: left;
    display: block;
    cursor: pointer;}
	.alowedme{     float: left;
    display: inline-block;
    height: 12px;
    line-height: 14px;
    margin-left: 5px;
    color: #212121;}
	.clickspan{ display:block; width:8px; height:8px; position:absolute; background:#3B97F6; top:3px; left:3px; cursor:pointer;}
	.clickspan{ display:none;}
	.forgetpas{ display:inline-block; float:right; height:14px; font-size:0.8em; color:#3B97F6; line-height:14px; }
	.helpbtn a:link, .helpbtn a:visited, .helpbtn a:focus{text-decoration:underline;}
	.tjbtn-login{ width: 100%;padding: 3%;color: #FFF;font-size: 1em;text-align: center;
    background:#3B97F6;
    border: 0px;
    cursor: pointer;
    margin-top: 10%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
	}
	.wxtipsuser{ height:12px; line-height:12px; font-size:0.8em; width:100%; text-align:center; color:#444; margin-top:35px;}
	.wxtipsuser a{color:#85BD27;}
	.otherslogin{ width:152px; height:36px; margin:auto; margin-top:15%;}
	.otherslogin a{ display:block; height:36px; width:36px; float:left; margin:0px 20px;-webkit-transition: all 0.2s ease-in;transition: all 0.2s ease-in;	-moz-transition: all 0.2s ease-in;-ms-transition: all 0.2s ease-in;-o-transition: all 0.2s ease-in;}
	.qqlogin{ background:url(../img/icon/loginreallbg.svg) -10px -220px no-repeat;}
	.wxlogin{ background:url(../img/icon/loginreallbg.svg) -56px -220px no-repeat; display:none;}
	.xllogin{ background:url(../img/icon/loginreallbg.svg) -102px -220px no-repeat;}
	.otherslogin .wxlogin{ display:none;}
	.tipsboxalert{ width:90%; position:absolute; left:5%; top:18px; z-index:100; display:none}
	.tipsboxalert em{display: block;width: 16px;height: 10px;background: url(../img/icon/loginreallbg.svg) -73px -194px no-repeat;margin-left: 15px;}
	.tipsboxalert p{ width:90%; border-radius:3px; background:#FF5E5E; background:rgba(255,38,38,0.8); padding:2% 5%; color:#FFF; font-size:0.8em; line-height:160%;}
	.tipsboxalert p a{color:#FFDC72;}
	.wap-botpic{ width:80%; margin:auto; margin-top:20%;}
}