.personalinfo{ background:#fff; border:1px solid #E8E8E8; padding:40px 25px; margin:25px auto 0;}
.personalinfo em{ width:1px; height:100px; background:#E3E3E3; margin:18px 54px 0 54px; display:block; float:left;}


.briefleftbox .briefpic{ width:106px; height:106px; margin-right:12px; float:left;}
.briefleftbox .briefpic span{ width:102px; height:102px; padding:3px; background:#F5F5F5; border-radius:50%; display:block;}
.briefleftbox .briefpic span img{ width:102px; height:102px; border-radius:50%;}

.integralbox{ float:left;  margin-top:15px;}
.integralbox ul li{ font-size:14px; color:#444; line-height:150%; margin-top:7px;}
.integralbox ul li:first-child{ margin-top:0px;}
.integralbox ul li span{ width:18px; height:18px; display:inline-block;cursor:pointer; vertical-align:middle; background:url(../images/uploadicon.png) -68px -136px no-repeat; margin-left:10px;}
.integralbox ul li b{ color:#FF5926; font-weight:normal;}
.integralbox ul li i{ color:#3997F6; font-style:normal;}


.briefleftbox .briefwit{ float:left; width:254px;}
.briefleftbox .briefwit h4{ font-size:24px; color:#1F1F1F; font-weight:normal;}
.briefleftbox .briefwit h4 span{ width:24px; height:20px; display:inline-block;position:relative;top:-3px; background:url(../images/uploadicon.png) no-repeat; background-size:400px 400px; margin-left:10px; vertical-align:middle;}
.briefleftbox .briefwit h4 span.V0{ background-position:-376px -2px;}
.briefleftbox .briefwit h4 span.V1{ background-position:-376px -33px;}
.briefleftbox .briefwit h4 span.V2{ background-position:-376px -63px;}
.briefleftbox .briefwit h4 span.V3{ background-position:-376px -93px;}
.briefleftbox .briefwit h4 span.V4{ background-position:-376px -127px;}
.briefleftbox .briefwit h4 span.V5{ background-position:-376px -163px;}
.briefleftbox .briefwit h4 span.V6{ background-position:-376px -197px;}
.briefleftbox .briefwit h4 span.V7{ background-position:-376px -233px;}
.briefleftbox .briefwit h4 span.V8{ background-position:-376px -267px;}
.briefleftbox .briefwit h4 span.V9{ background-position:-376px -303px;}
.briefleftbox .briefwit h4 span.V10{ background-position:-376px -337px;}

.personal{ margin:24px auto 0; background:#fafafa;}
.personalleft{ width:20%; background:#fafafa; float:left; height:100%; border-right:1px solid #eee;}
.listbox{ width:179px; min-height:48px;}
.listbox a{ height:48px; line-height:48px; background:#fafafa; display:block; width:179px; text-align:center; font-size:16px; color:#212121; border-bottom:1px solid #E8E8E8;}
.listbox a:hover{ color:#3B97F6; background:#fff;}
.listbox a.on{color:#3B97F6; background:#fff;  border-right:1px solid #fff;}


.personalright{ margin-left: 5px; width: 74%; background:#fff; float:left; height:auto; position:relative;}


.tipsboxalert{ width:100px; left:5%; top:18px; z-index:100; display:none}
.tipsboxalert em{display: block;width: 16px;height: 10px;background: url(../img/icon/loginreallbg.svg) -73px -194px no-repeat;margin-left: 15px;}
.tipsboxalert p{ width:100%; border-radius:3px; background:#FF5E5E; background:rgba(255,38,38,0.8); padding:2% 5%; color:#FFF; font-size:0.8em; line-height:160%;}
.tipsboxalert p a{color:#FFDC72;}