{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'blog/css/article_list.css' %}">
<script type="text/javascript">
var columns = [{
                field: 'title',
                searchable: true,
                sortable: true,
                buttonsClass: "button",
                title: '标题'
            }, {
                field: 'created_time',
                sortable: true,
                title: '创建时间'
            }, {
                field: 'views',
                sortable: true,
                title: '浏览量'
            }, {
                field: 'category',
                title: '分类'
            }, {
                field: 'tag',
                title: '标签'
            },]
</script>

<div id="main">
{% if article_list.count == 0 %}
    <div class="leibietitle">
        <p class="emptylist">还没有上传文档</p>
        <div class="clear"></div>
    </div>
    <div class="articlecontainer">&nbsp;:(&nbsp;</div>
{% else %}
    {% if display == 'l' %} {% comment %} display as list {% endcomment %}
        <table id="articleLiatTabble" class="table-responsive"></table>
        <script type="text/javascript">
            showArticles("#articleLiatTabble", "/GetArticles", "id", columns, "/article/");
            $('#articleLiatTabble').on('onDblClickRow.bs.table', function (e, arg1, arg2) {
                alert(arg1)
            });
        </script>
    {% else %}
        {% for tag in tag_list %}
            <div class="leibietitle">
                {% comment %}
                <p class="tagname" onclick="window.location.href = '/tag/{{ tag.id }}';">{{ tag.name }}</p>
                {% endcomment %}
                <p class="tagname">{{ tag.name }}</p>
                <div class="clear"></div>
            </div>
            <div class="articlecontainer">
                <ul>
                {% for article in article_list %}
                    {% if tag.id == article.tag_id %}
                    <li>
                        <a href="{% url 'blog:detail' article.id %}" target="_blank">
                            <img src="{% static 'blog/img/artical.png' %}" style="width: 175px;" alt="{{ article.title }}">
                        </a>
                        <a class="article-left" href="{% url 'blog:detail' article.id %}" target="_blank" class="zqlisttitled" title="{{ article.title }}">{{ article.title }}</a>
                        <span class="author article-left">贡献者：<em>{{ article.user.username}}</em></span>
                        <span class="time article-left">贡献时间：<em>{{ article.created_time | date:"Y年n月d日" }}</em></span>
                        <div class="articlestatus article-left">
                            <p>{{ article.views }}</p>
                            <b class="renminbi">{{ article.price }}</b>
                            <span class="hovered"><a href="{% url 'blog:purchase' article.id article.attachment.id %}">下载</a></span>
                            <div class="clear"></div>
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
                <div class="clear"></div>
            </div>
        {% endfor %}
    {% endif %}
{% endif %}
</div>
{% endblock %}
