{% extends 'base.html' %}
{% block content %}
<div id="bd" class="wrp clear-fix">
    <div id="main">
        {% load paginate_tags %}
        {% paginate article_list 2 %}
        {% for article in article_list %}
            <div class="post">
                <div class="post-hd">
                    <h1 class="title"><a
                            href="{% url 'blog:detail' article.pk %}">{{ article.title }}</a></h1>
                </div>
                <div class="post-bd">
                    <!-- 	<p><a href=""><img src="" alt=""></a></p> -->
                    <p>{{ article.abstract }}</p>
                    <p><a href="" class="more-link"></a></p>
                </div>
                <div class="post-ft">
                    <a href="{% url 'blog:editArical' article.id %}" class="more">编辑</a>
                </div>
            </div>
        {% endfor %}
        {% include 'blog/pagination.html' %}
    </div>
</div>
</div>
</div>
{% endblock %}